@font-face {
    font-family: "Inter";
    src: url(Inter-Regular.woff);
}

body {
    background-color: #141617;
}

a,
p,
h1,
h2,
li {
    color: white; font-family:'Inter', "Arial", sans-serif; 
}

h1 {
    text-align: center; font-weight:bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid #272a2c;
    border-radius: 5%;
}

ul,
ol {
    border: 1px solid transparent;
    background-color: #272a2c;
    border-radius: 1rem;
    padding: 1.7rem;
    box-sizing: content-box;
    width: 800px
}

ul.border-box {
    box-sizing: border-box;
}