@font-face {
    font-family: "Inter";
    src: url(Inter-Regular.woff);
}

body {
    background-color: rgb(28, 28, 28);
}

a,
p,
h1,
h2,
li {
    color: white; font-family:'Inter', "Arial", sans-serif; 
}

h1 {
    text-align: center; font-weight:bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
